
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #383838; 
    font-family: Arial, sans-serif;
    box-shadow: inset 0 0 1000px 5px rgba(0, 0, 0, 0.7),inset 0 0 1000px 5px rgba(0, 0, 0, 0.7),inset 0 0 1000px 5px rgba(0, 0, 0, 0.7);  
    font-family: 'poppins',sans-serif;
    
}
.container {
    position: relative;
    width: 90%; 
    max-width: 700px; 
    height: auto; 
    margin-top: 150px;
    overflow: hidden; 
}
.container h1{
    text-align: center;
    font-size: 45px;
    text-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.7);
    font-family: 'poppins',sans-serif;
    color: aliceblue;
}
.background-image {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
.form-Ajout {
    margin-left: 00px;
    margin-top: 50px;
    text-align: center;
    width: 40%;
    height: 600px;
    text-align: center;
    padding: 20px;
}

.head-formatajout {
    background-color: #282828;
    background: rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 0;
    padding: 0;
    color: aliceblue;
    
  }
  .head-formatajout h1{

    background: #f05d09;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2) ;
    padding: 7px 0;
    width: 50%;
    border-top-right-radius: 30px ;
    border-bottom-right-radius: 30px;

  }
  nav{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    margin-top: 10px;
  }
  nav button {
    background: none;
    font-size: 20px;
    color: white;
    width: 30%;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    
  }
  
  nav button:hover, .filtbtn.active {
   border-bottom: 2px solid #f05d09;
   color: #f05d09;
  }
  
  main {
    margin-top: -5px;
    border-bottom-left-radius: 10px ;
    border-bottom-right-radius: 10px ;
      height: 450px;
     border: 4px solid rgba(12, 14, 13, 0.2);
    background: rgba(0, 0, 0, 0.2);

  }
  
  .page {
    display: flex;
  }
  
  .page.active {
    display: block;
    
  }
  
  .formations-grid {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    color: aliceblue;
  }
  
  .formation {
    background-color: #222;
    max-width: 80%;
    border: 1px solid #555;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition:  all 0.5s ease;
  }

  .formation img{
    width: 200px;
    height: 200px;
  }
  
  .formation.selected {
    border-color: #ff9800;
  }
  
  .formation:hover {
    border-color: #d88065;
    transform: scale(1.05);
  }
 